.action {
    &__title {
        margin-bottom: 1rem;
    }
    &__desc {
        margin-bottom: 2.25rem;
    }
    &__row {
        margin-left: -8px;
        margin-right: -8px;
    }
    &__col {
        padding-left: 8px;
        padding-right: 8px;
    }
    &__content {
        padding: 72px;
        background-color: rgba($color: #000000, $alpha: 0.04);
        height: 100%;
        border-radius: 24px 0 0 24px;
        position: relative;
        z-index: 1;
        &:before, &:after {
            content: "";
            display: block;
            position: absolute;
            left: 100%;
            bottom: 0;
        }
        &:before {
            width: 70px;
            height: 50%;
            -webkit-clip-path: polygon(0 0, 100% 40%, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 40%, 100% 100%, 0 100%);
            background-color: var(--brand-purple-light-max);
            z-index: 1;
        }
        &:after {
            width: 54px;
            height: calc(50% - 16px);
            -webkit-clip-path: polygon(0 4%, 100% 40%, 100% 100%, 0 100%);
            clip-path: polygon(0 4%, 100% 40%, 100% 100%, 0 100%);
            background-color: rgba($color: #000000, $alpha: 0.04);
            z-index: 2;
        }
    }
    &__subscribe {
        max-width: 360px;
    }
    &__btn {
        max-width: 180px;
        width: 100%;
    }
    &__img {
        height: 100%;
        border-radius: 0 24px 24px 0;
        overflow: hidden;
        img {
            width: auto;
            max-width: unset;
            height: 100%;
        }
        @supports (object-fit: cover) {
            img {
                width: 100%;
                max-width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        

    }



    @media screen and (max-width:991px) {
        &__content {
            padding: 32px;
        }
    }
    @media screen and (max-width:767px) {
        &__desc {
            margin-bottom: 1.5rem;
        }

        &__content {

            border-radius: 24px 24px 0 0;
            &:after, &:before {
                left: 0;
                top: 100%;
                transform: rotate(90deg) translateY(-100%);
                transform-origin: left top;
            }
            &:after {
                height: calc(100% - 16px);
            }
            &:before {
                height: 100%;
            }
        }
        &__img {
            border-radius: 0 0 24px 24px;
        }
        &__col {
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }
    }
    @media screen and (max-width:575px) {
        &__desc {
            margin-bottom: 1rem;
        }
        &__content {
            padding: 1.25rem;
        }
        &__subscribe {
            max-width: 100%;
        }
    }
}