.subscribe {
    &__title {
        margin-bottom: 1rem;
        font-weight: 600;
        font-size: var(--text-size-tertiary);
    }
    &__inner {
        box-shadow: inset  0px 0px 0px 1px currentColor;
        position: relative;
        border-radius: 56px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 310px;
        width: 100%;
    }
    &__input {
        background-color: transparent;
        color: inherit;
        width: 100%;
        border: none;
        outline: none;
        border-radius: 56px;
        padding: 0.875rem 1.5rem;
        &::placeholder {
            color: inherit;
        }
    }
    &__btn {
        position: relative;
        z-index: 1;
        flex-shrink: 0;
    }
}