.faqs {
    &__title {
        text-align: center;
        margin-bottom: 64px;
    }
    &__list {
        max-width: 1088px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 150px;
        background-color: #fff;
        border-radius: 24px;
        padding: 100px;
    }
    &__item {
        padding-bottom: 24px;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.08);
        &:not(:last-child) {
            margin-bottom: 24px;
        }
        &-question {
            cursor: pointer;
            position: relative;
            font-size: 1.25rem;
            &:before {
                content: "";
                display: block;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 13px;
                height: 6px;
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5999 1.45825L9.16657 6.89159C8.5249 7.53325 7.4749 7.53325 6.83324 6.89159L1.3999 1.45825' stroke='%23A68FF1' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                transition: all 400ms;
            }
        }
        &-answer {
            max-height: 0;
            overflow: hidden;
            transition: all 400ms;
            & > *:last-child {
                margin-bottom: 0;
            }
        }

        &.active &-answer {
            max-height: 1000px;
            margin-top: 1.5rem;
        }
        &.active &-question {
            font-size: 2rem;
            &:before {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }

    @media screen and (max-width: 991px) {
        &__title {
            margin-bottom: 2rem;
        }
        &__list {
            padding: 3rem;
        }
    }
    @media screen and (max-width: 575px) {
        &__list {
            padding: 2rem 1.25rem;
        }
        &__item {
            &-question {
                font-size: 1.125rem;
            }
            &.active &-question {
                font-size: 1.25rem;
            }
        }
    }
}