.start {

    &__inner {
        text-align: center;
        background-color: var(--brand-blue-light);
        padding: 100px;
        border-radius: 2rem;
    }
    &__row {
        gap: 20px 0;
    }

    @media screen and (max-width: 1199px) {
        &__inner {
            padding: 4rem;
            border-radius: 4rem;
        }
    }
    
    @media screen and (max-width: 991px) {
        &__inner {
            padding: 3rem;
            border-radius: 3rem;
        }
    }
    
    @media screen and (max-width: 767px) {
        &__inner {
            padding: 2rem;
            border-radius: 2rem;
        }
    }
    
    @media screen and (max-width: 575px) {
        &__inner {
            padding: 1.5rem;
            border-radius: 1.5rem;
        }

    }
}